<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.colorful.mapper.hardwareMapper">

    <select id="selectAll" resultType="com.colorful.pojo.User">
        select * from sqltest;
    </select>
    <select id="insertData" resultType="com.colorful.pojo.User">
        insert into  sqltest (name,age) value ( #{name},#{age});
    </select>
</mapper>

